.main { 
  background: url("../public/snow2.png") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.footer {
    background-color: #000000;
    color: #ffffff;
}

.listLoc {
    padding-left: 4%;
    padding-right: 4%;
    padding-top: 1%;
    padding-bottom: 1%;
}

.angular-google-map-container {
    height: 400px;
}
