<div>
    <ui-gmap-google-map center="map.center" zoom=12>
        <ui-gmap-marker idKey=1 coords="map.center">
            <ui-gmap-window>
                <div>{{data.name}}<br></a></div>
            </ui-gmap-window>
        </ui-gmap-marker>
    </ui-gmap-google-map>
</div>
<div class='listLoc'>
    <img src=""></img><br>
    Name: {{data.name}}<br>
    Address: {{data.location.formattedAddress['0']}}<br>{{data.location.formattedAddress['1']}}<br>{{data.location.formattedAddress['2']}}<br>
    Likes:{{(data.likes.summary==""||data.likes.summary==false)?" N.A":""}}{{ data.likes.summary}}<br>
    Rating:{{(data.rating==""||data.rating==false)?" N.A":""}} {{ data.rating}}<br>
    Categories:{{(data.categories==0||data.categories==false)?" N.A":""}}<span ng-repeat="cat in data.categories">{{ cat.name}}, </span><br>
    Tips:{{(data.tips.groups['0'].items==0||data.tips.groups['0'].items==false)?" N.A":""}}<div ng-repeat="tip in data.tips.groups['0'].items"><strong>"{{tip.text}}"</strong>Likes:{{ tip.likes.count}}</div><br>
    Tags:{{(data.tags.length==0||data.tags==false)?" N.A":""}}<strong ng-repeat="tag in data.tags"> {{ tag}} | </strong>
</div>